.advantages {
  width: 87.5%;
  margin: 0 auto 17px;
}

.advantages__title {
  display: block;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 29px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}

.advantages__description {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin-bottom: 26px;
  padding-left: 80px;
  min-height: 54px;

  &::before {
    position: absolute;
    content: " ";
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $accent;
  }

  &--healthy::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--easy::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--shift::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 92.5%;
    margin: 0 auto;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: num;
    margin-bottom: 0;
  }

  .advantages__description {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    width: 324px;
    padding-left: 0;
    padding-top: 113px;
    padding-right: 64px;
    min-height: 100px;
    margin-bottom: 132px;

    &::before {
      width: 80px;
      height: 80px;
      top: 0;
    }

    &::after {
      position: absolute;
      z-index: -1;
      content: counter(num) " ";
      counter-increment: num;
      right: 77px;
      top: -40px;
      font-size: 281.07px;
      line-height: 281.07px;
      color: #f2f2f2;
      font-family: "Oswald", sans-serif;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    max-width: 1300px;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
  }

  .advantages__description {
    width: 245px;
    padding-right: 0;

    &::after {
      right: 0;
    }
  }
}
