.compare {
  background-color: #f1f1f1;
}

.compare__title {
  font-size: 36px;
  line-height: 60px;
}

.compare__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.compare__money {
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.compare__list {
  list-style-type: none;
}

.compare__img {
  display: none;
}

.compare__img:nth-child(1) {
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  width: 311px;
  height: 240px;
}

.compare__img:nth-child(2) {
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  width: 251px;
  height: 240px;
}

.compare__cat input:nth-child(1):checked ~ .compare__list .compare__img:nth-child(1) {
  display: block;
}

.compare__cat input:nth-child(2):checked ~ .compare__list .compare__img:nth-child(2) {
  display: block;
}

