.compare {
  background-color: #f1f1f1;
  width: 100%;
  margin: 0 auto;
}

.compare__wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.compare__cat {
  position: relative;
  display: flex;
  flex-direction: column;

  & input {
    position: absolute;
    top: 150px;
    z-index: -100;
  }
}

.compare__range:focus ~ .compare__controls .compare__pin {
  box-shadow: 0 0 5px 2px rgba(0, 150, 255, 0.5);
}


.compare__pin:hover {
  cursor: pointer;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.compare__pin:active {
  border: 2px solid $accent;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.compare__controls {
  display: flex;
  margin: 0 auto;
  order: 4;
  margin-bottom: 35px;
  width: 190px;
}

.compare__switcher {
  position: relative;
  text-transform: uppercase;
  line-height: 20px;

  &--1 {
    padding-right: 57px;

    &::before {
      position: absolute;
      content: " ";
      right: 0;
      top: 1px;
      width: 37px;
      height: 12px;
      background-color: #ffffff;
      border-top: 1px solid #cdcdcd;
      border-bottom: 1px solid #cdcdcd;
      border-left: 1px solid #cdcdcd;
      border-radius: 6px 0 0 6px;
    }
  }

  &--2 {
    padding-left: 60px;

    &::before {
      position: absolute;
      content: " ";
      left: 0;
      top: 1px;
      width: 45px;
      height: 12px;
      background-color: #ffffff;
      border-top: 1px solid #cdcdcd;
      border-bottom: 1px solid #cdcdcd;
      border-right: 1px solid #cdcdcd;
      border-radius: 0 6px 6px 0;
    }
  }
}

.compare__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.compare__img {
  display: none;
  margin: 0 auto;

  &:nth-child(1) {
    background-image: url("../img/before-mobile@1x.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 240px;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-mobile@2x.png");
      background-size: 320px auto;
    }
  }

  &:nth-child(2) {
    background-image: url("../img/after-mobile@1x.png");
    background-repeat: no-repeat;
    width: auto;
    height: 240px;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-mobile@2x.png");
      background-size: 320px auto;
    }
  }
}

.compare__input-1:checked ~ .compare__list .compare__img:nth-child(1) {
  display: block;
}

.compare__input-2:checked ~ .compare__list .compare__img:nth-child(2) {
  display: block;
}

.compare__input-1:checked ~ .compare__controls .compare__switcher--1::after {
  position: absolute;
  content: " ";
  right: 0;
  top: 5px;
  width: 32px;
  height: 6px;
  background-color: $accent;
  border-radius: 10px 10px 10px 10px;
}

.compare__input-2:checked ~ .compare__controls .compare__switcher--2::after {
  position: absolute;
  content: " ";
  left: 4px;
  top: 5px;
  width: 35px;
  height: 6px;
  background-color: $accent;
  border-radius: 10px 10px 10px 10px;
}

.compare__title {
  display: block;
  padding-top: 17px;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
}

.compare__total-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 34px;
  justify-content: center;
}

.compare__total {
  text-transform: uppercase;
  text-align: center;
  min-width: 122px;
  padding-top: 13px;
  padding-bottom: 17px;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;

  &::before {
    text-transform: none;
    width: 70px;
    content: attr(data-text) " ";
    position: absolute;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    top: 46px;
    left: 15px;
    text-align: center;
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
  }

  &:nth-child(2n+1) {
    margin-right: 32px;
  }
}

.compare__spending {
  width: 100%;
  margin: 0 auto;
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.compare__spend {
  margin-right: 5px;
}

.compare__badge {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 12px;
}

.compare__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
  padding-right: 1px;
  margin-bottom: 25px;
  min-height: 108px;
}

@media (max-width: $mobile-width-only) {
  .compare__list {
    margin-left: -20px;
  }

  .compare__line,
  .compare__pin {
    display: none;
  }

  .compare__cat {
    & .compare__input-1:focus ~ .compare__controls .compare__switcher--1 {
      box-shadow: 0 0 5px 2px rgba(0, 150, 255, 0.2);
    }

    & .compare__input-2:focus ~ .compare__controls .compare__switcher--2 {
      box-shadow: 0 0 5px 2px rgba(0, 150, 255, 0.2);
    }
  }
}

@media (min-width: $tablet-width) {
  .compare {
    width: auto;
    background-color: transparent;
    margin-top: -30px;
    border-top: 1px solid #e5e5e5;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 57.2%, transparent 43.8%, transparent), linear-gradient(to right, #f1f1f1 50%, #e9e9e9 50%);

    & input {
      top: 300px;
    }
  }

  .compare__wrapper {
    width: 92.5%;
  }

  .compare__cat {
    width: 665px;
    min-height: 517px;
    margin: 0 auto;

    & input[type="radio"] {
      display: none;
    }
  }

  .compare__title {
    padding-top: 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
  }

  .compare__description {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-bottom: 19px;
  }

  .compare__total-wrapper {
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 84px;
  }

  .compare__total {
    font-size: 30px;
    line-height: 37.02px;
    min-width: 160px;
    padding-bottom: 20px;

    &:nth-child(2n+1) {
      margin-right: 42px;
    }

    &::before {
      width: 127px;
      background-color: #ffffff;
      font-size: 14px;
      line-height: 14px;
      top: 62px;
      left: 6px;
    }
  }

  .compare__spending {
    margin: 0;
    margin-left: auto;
    width: 175px;
    justify-content: flex-end;

    & > * {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .compare__spend {
    margin-right: 0;
    padding-bottom: 10px;
  }

  .compare__money {
    text-align: right;
  }

  .compare__list {
    margin-bottom: 25px;
  }

  .compare__img:nth-child(1) {
    width: 677px;
    height: 521px;
    margin: 0 auto;
    background-image: url("../img/before-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
      background-size: 683px 520px;
    }
  }

  .compare__img:nth-child(2) {
    width: 677px;
    height: 521px;
    margin: 0 auto;
    background-image: url("../img/after-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
      background-size: 677px auto;
    }
  }

  .compare__switcher {
    display: none;
  }

  .compare__controls {
    position: relative;
    margin-bottom: 81px;
    width: 428px;
  }

  .compare__line {
    position: relative;
    width: 428px;
    height: 6px;
    background-color: #dbdbdb;
    border-radius: 6px;

    &::before {
      position: absolute;
      content: "Было";
      text-transform: uppercase;
      left: -71px;
      top: -8px;
      font-size: 20px;
      line-height: 20px;
      padding-bottom: 6px;
      border-bottom: #bcbcbc 1px dotted;
    }

    &::after {
      position: absolute;
      content: "Стало";
      text-transform: uppercase;
      right: -70px;
      top: -8px;
      font-size: 20px;
      line-height: 20px;
      padding-bottom: 6px;
      border-bottom: #bcbcbc 1px dotted;
    }
  }

  .compare__pin {
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    position: absolute;
    top: -14px;
    left: 46%;
    background-color: #ffffff;
    border-radius: 50%;
    border: 0.5px #cdcdcd solid;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      content: " ";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $accent;
      border-radius: 50%;
      left: 39%;
      top: 39%;
    }
  }
}

@media (min-width: $desktop-width) {
  .compare {
    width: auto;
    padding: 0 40px;
    box-sizing: border-box;
    border: none;
    margin-top: -7px;
    position: relative;
    z-index: 100;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 22.7%, transparent 22.7%, transparent 100%), linear-gradient(to right, #f1f1f1 0, #f1f1f1 50%, #e9e9e9 50%, #e9e9e9 100%);
  }

  .compare__wrapper {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 22.7%, transparent 22.7%, transparent 100%), linear-gradient(to right, #f1f1f1 0, #f1f1f1 76.5%, #e9e9e9 76.5%, #e9e9e9 100%);
  }

  .compare__description-wrapper {
    width: 445px;
  }

  .compare__desktop-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .compare__cat {
    width: 610px;
    position: absolute;
    right: 35px;
    top: -46px;
  }

  .compare__controls {
    top: 31px;
    right: -55px;
  }

  .compare__total-wrapper {
    width: 366px;
    flex-wrap: wrap;
    margin-bottom: 65px;
    justify-content: normal;
  }

  .compare__title {
    margin-bottom: 146px;
  }

  .compare__description {
    margin-bottom: 55px;
  }

  .compare__spending {
    width: auto;
    margin: 0;
    display: flex;
    margin-top: 60px;
    flex-wrap: nowrap;
  }

  .compare__spend {
    margin-right: 64px;
  }

  .compare__img:nth-child(1) {
    width: 677px;
    height: 499px;
  }

  .compare__total::before {
    background-color: #f1f1f1;
  }
}
