.teaser {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.teaser__wrapper {
  margin-bottom: 22px;
}

.teaser__title {
  margin: 0;
  padding-top: 27px;
  color: #ffffff;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.teaser__slogan {
  color: #ffffff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
  margin-bottom: 28px;
}

.teaser__img {
  display: block;
  margin-bottom: 3px;
}


//@media (max-width: $tablet-width-only) and (min-width: $mobile-width-only) {
//  .teaser__button {
//    position: absolute;
//    top: 252px;
//    width: auto;
//    margin-left: 90px;
//    padding: 16px 27px;
//  }
//}

@media (min-width: $tablet-width) {
  .teaser {
    width: auto;
    background-image: none;
  }

  .teaser__button {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 252px;
    width: auto;
    margin-left: 90px;
    padding: 16px 27px;
  }

  .teaser__wrapper {
    position: relative;
    margin-bottom: 0;
  }

  .teaser__title {
    font-size: 60px;
    line-height: 60px;
    width: 427px;
    text-align: left;
    color: $black;
    padding-left: 87px;
    padding-top: 23px;
  }

  .teaser__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    padding-left: 88px;
    margin-top: 42px;
    margin-bottom: 19px;
  }

  .teaser__img {
    margin: 0 auto 0 auto;
    height: 609px;
    width: 709px;
  }
}

@media (min-width: $desktop-width) {
  .teaser {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 90px;
    min-height: 601px;
  }

  .teaser__button {
    top: 334px;
  }

  .teaser__title {
    padding-top: 100px;
  }

  .teaser__slogan {
    margin-top: 41px;
    margin-bottom: 53px;
  }

  .teaser__img {
    position: absolute;
    top: 26px;
    left: 574px;
    width: 552px;
    height: 499px;
  }

}
