.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  &--full {
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
    width: auto;
  }
}
