.page-footer {
  padding-top: 40px;
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 128px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-links {
  list-style-type: none;
  margin: 0 auto;
  border-top: 1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
  padding: 0;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  width: 125px;
}

.site-links__item {
  display: inline-block;

  &:not(:last-child) {
    padding-right: 35px;
  }

  &:hover svg path,
  &:hover svg circle {
    fill: #68b738;
  }

  & a:active svg path,
  & a:active svg circle {
    fill: rgba(104, 183, 156, 0.3);
  }
}

.page-footer__mentor-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 21px;
  padding-bottom: 20px;

  &:hover .page-footer__mentor-logo path,
  &:focus .page-footer__mentor-logo path {
    fill: #68b738;
  }

  &:active .page-footer__mentor-logo path {
    fill: rgba(104, 183, 56, 0.3);
  }

  &:active .page-footer__mentor-link {
    opacity: 0.3;
  }
}

.page-footer__mentor-logo {
  width: 27px;
  height: 34px;
}

.page-footer__mentor-link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.site-links__insta {
  width: 16px;
  height: 16px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
    display: block;
    min-height: 109px;
  }

  .page-footer__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social-links {
    margin: 0;
    border: none;
  }

  .page-footer__mentor-block {
    margin-top: 17px;
  }

  .page-footer__mentor-link {
    width: 138px;
  }


  .site-links__vk {
    width: 30px;
    height: 16px;
  }

  .site-links__insta {
    width: 23px;
    height: 23px;
  }

  .site-links__fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  //.page-footer {
  //  width: auto;
  //  display: block;
  //  min-height: 150px;
  //}
  //
  //.page-footer__wrapper {
  //  width: 1220px;
  //  margin: 0 auto;
  //  display: flex;
  //  justify-content: space-between;
  //}
}
