.page-footer {
  padding-top: 40px;
  background-color: #f1f1f1;
  width: 100%;
  margin: 0 auto;
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 128px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-links {
  width: 87.5%;
  list-style-type: none;
  margin: 0 auto;
  border-top: 1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
  padding: 0;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__link {
  display: inline-block;

  &:not(:last-child) {
    padding-right: 35px;
  }
}

.page-footer__link-focus:focus .page-footer__link-svg,
.page-footer__mentor-block:focus .page-footer__link-svg {
  fill: #68b738;
}

.page-footer__link-svg {
  fill: #666666;
  position: relative;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: rgba(104, 183, 156, 0.3);
  }

  &--insta {
    width: 16px;
    height: 16px;
    left: -5px;
  }

  &--vk {
    right: 8px;
    top: -2px;
  }
}

.page-footer__mentor-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 18px;
  padding-bottom: 20px;
  width: 91.5%;
  fill: #666666;

  &:hover .page-footer__mentor-logo,
  &:focus .page-footer__mentor-logo {
    fill: #68b738;
  }

  &:active .page-footer__mentor-logo {
    fill: rgba(104, 183, 56, 0.3);
  }

  &:active .page-footer__mentor-link {
    opacity: 0.3;
  }
}

.page-footer__mentor-logo {
  width: 40px;
  height: 40px;
}

.page-footer__mentor-link {
  position: relative;
  left: 5px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
    display: block;
    min-height: 109px;
    padding-top: 38px;
  }

  .page-footer__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 25px;
    box-sizing: border-box;
  }

  .page-footer__home-link {
    align-self: center;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social-links {
    margin: 0;
    border: none;
    width: auto;
    padding-top: 20px;
  }

  .page-footer__mentor-block {
    margin: 0;
    margin-top: 17px;
    width: 174px;
  }

  .page-footer__mentor-link {
    width: 138px;
  }

  .page-footer__link-svg {
    &--insta {
      width: 23px;
      height: 23px;
      left: 12px;
    }

    &--vk {
      width: 30px;
      height: 16px;
      left: 25px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }

  .page-footer__link:not(:last-child) {
    padding-right: 41px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 40px;
  }

  .page-footer__wrapper {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .page-footer__mentor-block {
    margin: 19px 0 0;
    width: 168px;
  }

  .page-footer__mentor-logo {
    position: relative;
    right: -5px;
  }
}
