.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: inline-block;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-decor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  height: 65px;
  border-bottom: #e5e5e5 1px solid;
}

.page-header__toggle {
  position: relative;
  display: block;
  background-color: transparent;
  width: 24px;
  height: 18px;
  cursor: pointer;
  border: none;
}

.page-header__nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.page-header--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.page-header--closed .page-header__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.page-header--opened .page-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.page-header__site-list {
  margin: 0;
  padding: 0;
}

.page-header__list {
  list-style-type: none;
}

.page-header__item-wrapper {
  padding-top: 22px;
  padding-bottom: 23px;
}

.page-header__item {
  text-align: center;
  border-bottom: #e5e5e5 1px solid;
}

.page-header__item-link {
  color: $black;
  padding-bottom: 7px;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &--active {
    border-bottom: 2px $accent solid;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header--closed .page-header__item {
    display: none;
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--nojs .page-header__item {
    display: list-item;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: 28px;
    flex-direction: row;
    padding-top: 20px;

    &--inner::after {
      display: none;
    }
  }

  .page-header__logo-decor {
    border: none;
    margin: 0;
    padding-right: 0;
  }

  .page-header__nav {
    width: 440px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24.86px;
    margin: 0;
    margin-left: auto;
    padding-right: 30px;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
  }

  .page-header__item {
    border: none;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 52px;

    &::after {
      position: absolute;
      content: " ";
      right: -69px;
      top: 0;
      width: 720px;
      height: 696px;
      z-index: -1;
      background: url("../img/index-background-desktop@1x.jpg") no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .page-header__list--index {
    & a {
      color: #ffffff;
    }

    & .page-header__item-link--active {
      border-color: #ffffff;
    }
  }

  .page-header__logo-decor {
    padding-left: 40px;
  }

  .page-header__nav {
    width: 479px;
    padding-right: 40px;
  }

  .page-header__item-link {
    font-size: 20px;
  }
}
