.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: block;
  margin: 0 auto;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-links {
  list-style-type: none;
  margin: 0 auto;
  border-top: 1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
}

.site-links__item {
  display: inline-block;
}

.page-footer__mentor-link {
  width: 27px;
  height: 34px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social-links {
    margin: 0;
  }

  .page-footer__mentor-link {
    width: 162px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    max-width: 1440px;
    padding: 0 80px;
  }
}
