.catalog {
  border-bottom: 1px #ececec solid;
}

.catalog__purchase {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 42px;
}

.catalog__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  border-bottom: 1px #ececec solid;
  padding-top: 15px;
  padding-bottom: 28px;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog__plus-toggle {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;

  &::before {
    position: absolute;
    content: " ";
    width: 30px;
    height: 2px;
    top: 14px;
    background-color: #d1d1d1;
  }

  &::after {
    position: absolute;
    content: " ";
    width: 2px;
    height: 30px;
    left: 14px;
    background-color: #d1d1d1;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;

  & > a:first-child {
    height: 144px;
  }
}

.catalog__item-info {
  padding-top: 21px;
}

.catalog__item-title {
  text-transform: uppercase;
  color: $black;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 80px;
  display: inline-block;
}

.catalog__table {
  margin-top: 13px;
  border-collapse: collapse;
}

.catalog__table-data {
  padding: 0;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}

.catalog__table-row {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.catalog__more-items {
  width: 100%;
  padding-top: 26px;
}

.catalog__more-action {
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.catalog__more-description {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}

@media (max-width: $mobile-width-only) {
  .catalog__item::after {
    position: absolute;
    content: " ";
    width: 320px;
    height: 1px;
    background-color: #ededed;
    left: -20px;
    bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
    line-height: 76px;
    border: none;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
  }

  .catalog {
    width: auto;
    margin-top: 64px;
    border: none;
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin-left: -30px;

    & > * {
      box-sizing: border-box;
      width: 324px;
      margin-left: 30px;
      margin-right: 30px;
      padding-left: 37px;
      padding-right: 37px;
      margin-bottom: 75px;
    }
  }

  .catalog__item-img {
    width: auto;
    height: auto;
  }

  .catalog__item-title {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    width: 130px;
  }

  .catalog__item {

    background-color: #ededed;
    flex-direction: column;
    align-items: center;

    & > a:first-child {
      width: 324px;
      height: auto;
      margin-top: auto;
    }
  }

  .catalog__item-info {
    margin-top: auto;
  }

  .catalog__table {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .catalog__table-row {
    width: 250px;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 7px;
    margin-bottom: 8px;
  }

  .catalog__table-data {
    font-size: 16px;
  }

  .catalog__purchase {
    margin-bottom: 14px;
  }

  .catalog__more-items {
    border: 1px solid #ededed;
    padding-top: 60px;
  }

  .catalog__plus-toggle {
    width: 60px;
    height: 60px;

    &::before {
      width: 60px;
      top: 29px;
    }

    &::after {
      height: 60px;
      left: 29px;
    }
  }

  .catalog__more-action {
    width: 140px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .catalog__more-description {
    width: 170px;
    margin: 0 auto;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    box-sizing: border-box;
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 58px;
  }

  .catalog {
    box-sizing: border-box;
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 5px;
  }

  .catalog__wrapper {
    margin-left: -40px;
    width: 1300px;

    & > * {
      margin-bottom: 78px;
    }
  }

  .catalog__item {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .catalog__item > a:first-child {
    width: 245px;
    height: auto;
    margin-top: auto;
  }

  .catalog__table-row {
    width: 169px;
  }

  .catalog__more-items {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
