.button {
  background-color: $accent;
  color: #ffffff;
  font-size: 14px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 8px 42px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
