.page-header__logo {
  display: block;
}

.page-header__logo-wrapper {
  margin: 0 auto;
}

.page-header__nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.page-header__list {
  list-style-type: none;
}

.page-header__item-link {
  color: $black;
}

.page-header__item {
  text-align: center;
}

.page-header__item-link:hover,
.page-header__item-link:focus {
  color: rgba(0, 0, 0, 0.6);
}
