@font-face {
  font-family: "oswald";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-family: "oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
}
